* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*--------------------------------------INDEX--------------------------------------------------
-----------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------*/

body {
    background:url(https://i.ibb.co/jfKd3Yf/fondo.jpg);   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo-principal {
    width: 70%;
}

.cajas-articulos {
    background-image: linear-gradient(rgb(90, 13, 158, 0.8), rgb(130, 89, 165, 0.8));
    padding: 20px;
    border-radius: 5px;
    border: solid;
}

.caja-principal {
    width: 70%;
    margin: 25px 25px 25px 15%;

}

hr {
    border: 2px solid #000;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: 10%;
}

.img-logo {
    border-radius: 10%;
    width: 70%;
}

.logo-principal {
    text-align: center;
}

nav {
    background-image: linear-gradient( rgb(82, 11, 145, 0.8), rgb(130, 89, 165, 0.8));
    border-radius: 5px;
    border: solid;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    padding: 2%;
}

nav ul li:hover {
    background: rgb(113, 53, 165);
    border-right: solid;
    border-left: solid;
    transition: 0.4s ease-in;
}

nav ul li a {
    text-decoration: none;
    margin: 25px;
    color: #000;
    text-shadow: 2px 2px 2px #B1B1B1;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/*-------------------------CONTENIDO DE LA PAGINA INDEX----------------------------------------
-----------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------*/

.personajes-lista {
    margin-left: 30px;
}

.text {
    font-size: 20px;
    font-family: monospace;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: 0.4s ease-in-out;
    font-weight: 500;
}

.img-text {
    float: right;
}

.img-text-2 {
    float: left;
}

.active + .text {
    max-height: 100%;
    padding: 10px;
    opacity: 1;
}

.titulos:after {
    content: '\002b';
    float: right;
    margin-right: 15px;
}

.titulos.active:after {
    content: '\02212';
    float: right;
}

.titulos {
    display: block;
    margin: 2%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: linear-gradient( rgb(130, 89, 165), rgb(82, 11, 145));
    width: 95%;
    border-radius: 5px;
    border: solid;
    text-shadow: 2px 1px 1px #B1B1B1;
    color: #000;
}

.titulos:hover {
    background-image: linear-gradient( rgb(82, 11, 145, 0.5), rgb(130, 89, 165, 0.5));
}

/*--------------------------------MANGA PAGINAS-----------------------------------------------
----------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------*/

#abrir {
    text-decoration: none;
    font-size: 300%;
    color: #000;
    text-shadow: 2px 2px 2px #B1B1B1;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient( rgb(130, 89, 165), rgb(82, 11, 145));
    padding: 10px;
    border: solid;
    border-radius: 5px;
    transition-delay: 1s;
}

#abrir:hover {
    background-image: linear-gradient( rgb(82, 11, 145, 0.5), rgb(130, 89, 165, 0.5));
    padding: 10px;
    border-radius: 5px;
}

#myLinks a {
    text-decoration: none;
    font-size: 200%;
    margin: 25px;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

#myLinks a:hover {
    font-size: 250%;
    transition: 0.5s;
    border: solid #000;
    color: #fff;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
    background: rgba(0, 0, 0, 0.5);
}

.capitulos {
    font-size: 25px;
    padding: 5px;
}

.banner {
    background: rgb(130, 89, 165, 0.5);
    text-align: center;
    padding: 20px;
    border-bottom: solid;
}

#myLinks {
    display: none;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
    color: #fff;
}

.cascada {
    cursor: pointer;
}

/*---------CONTENIDO-------------------------------------------------------------------------*/

.container {
    background: radial-gradient(#C9C2C9, rgb(63, 17, 63));
}

.contenido {
    padding: 50px 0;
    text-align: center;
}

.invisible {
    display: none !important;
}

#container-cascada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

/*---------------------------------BOTONES-----------------------------------
---------------------------------------------------------------------------*/

.caja-botones {
    display: flex;
    justify-content: center;
    background: linear-gradient(#B9B9B9, #fff);
    border-top: solid;
    padding: 15px;
}

#back, #next {
    color: #000;
    background: rgb(174, 171, 177);
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px;
    border: solid #000;
    padding: 5px;
    cursor: pointer;
    transition: 0.6s ease;
    width: 60px;
    height: 85px;
    text-align: center;
    margin-top: 14px;
}

#next:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

#back:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

#next-cap, #back-cap {
    margin: 25px;
    font-size: 150%;
    border: solid #000;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(174, 171, 177);
    font-weight: bold;
    transition: 0.6s ease;
}

#next-cap:hover {
    background: #000;
    color: #fff;
}

#back-cap:hover {
    background: #000;
    color: #fff;
}

.listado {
    height: 40px;
    margin: 0 25px;
    margin-top: 30px;
    font-size: 20px;
}


/*---------------------------@MEDIA QUERY-----------------------------
----------------------------------------------------------------------
--------------------------------------------------------------------*/

@media (max-width: 500px){

    /*--------------------------INDEX-------------------------------------------
    ----------------------------------------------------------------------------
    ----------------------------------------------------------------------------*/

    .caja-principal {
        width: 100%;
        padding: 0px;
        margin: 0px 0px 0px 0px;
    }

    .cajas-articulos {
        width: 100%;
    }

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li:hover {
        border-top: solid;
        border-bottom: solid;
    }

    hr {
        width: 100%;
        margin-left: 0;
    }

    .titulos {
        width: 100%;
        margin: 2% 0;
    }

    .text {
        font-weight: bold;
    }

    /*---------------------------PAGINAS---------------------------
    ---------------------------------------------------------------
    -------------------------------------------------------------*/
    
    .titulo-cap {
        font-size: 40px;
    }

    .capitulos {
        font-size: 20px;
        width: 450px;
    }

    .imagen {
        width: 99%;
        height: auto;
    }

    #next-cap {
        margin: 0;
        padding: 5px;
        font-size: 90%;
        height: 42px;
        text-align: center;
    }

    #back-cap {
        margin: 0;
        padding: 5px;
        font-size: 90%;
        height: 42px;
        text-align: center;
    }

    #next {
        margin: 0;
        height: 42px;
        font-size: 25px;
        margin-right: 5px;
        padding: 0;
    }

    #back {
        margin: 0;
        height: 42px;
        font-size: 25px;
        margin-left: 5px;
        padding: 0;
    }

    .listado {
        margin: 0 5px;
    }
}

@media (max-width: 360px){

    .titulo-cap {
        font-size: 30px;
    }

    .capitulos {
        font-size: 20px;
        width: 300px;
    }
    
    .imagen { 
        width: 99%;
        height: auto;
    }

    #next-cap {
        margin: 0;
        padding: 5px;
        font-size: 70%;
        height: 40px;
        text-align: center;
    }

    #back-cap {
        margin: 0;
        padding: 5px;
        font-size: 70%;
        height: 40px;
        text-align: center;
    }

    #next {
        margin: 0;
        height: 40px;
        font-size: 25px;
        margin-right: 5px;
    }

    #back {
        margin: 0;
        height: 40px;
        font-size: 25px;
        margin-left: 5px;
    }

    .listado {
        margin: 0 5px;
    }
}